:host {
  .certificates {
    border: 1px solid #673ab7;

    &-item {
      border-bottom: 1px solid #673ab7;
      padding: 4px 40px 4px 12px;
      cursor: pointer;
      position: relative;

      &:last-child {
        border-bottom: none;
      }

      &.active {
        background: rgba(103, 58, 183, 0.25);

        &:after {
          content: '';
          display: block;
          border-left: 10px solid #673ab7;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          position: absolute;
          height: 0;
          width: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 20px;
        }
      }
    }
  }
}
